<!DOCTYPE html>
<html lang="en">
<head>
    <title>ACAB</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./map.css">
</head>
<body>
    
    <h2 class="text-center text-light-50">Examples of Police Brutality during George Floyd protests.</h2>

    <svg id="my_dataviz" width="1000" height="600"></svg>

    <script src="./map.js"></script>
    
</body>
</html>